.headerClass{
  width:100%;
  height: 3.3rem;
  background-color: #0089ab70;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bodyClass{
  width:100%;
  background-color: #d2f6fe73;
  color: #000000;
  /* padding: 10px; */
}
.pageTotal {
    display: inline-flex;
    position: fixed;
    visibility: hidden;
}
.container2{
    display: inline-flex;
    margin-top: 2rem;
    padding: 1rem; 
}
.description{
    margin-right: 10rem;
}
.div1 {
    padding: 1rem;
    margin-right: 37rem;
}
.div2 {
    padding: 1rem;
}

.btnClass {
    border: none;
    background: none;
    color: blue;
    font-size: 18px;
    margin-right: 10px;
    height: 40px;
    border-radius: 10px;
}
.btnRow {
    padding: 1rem;
    margin-left: 5rem;
}
.btnClass:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 17px rgb(25 7 95 / 35%);
}
.btnClass:active {
    background-color: rgba(34, 240, 15, 0.527);
}
/* .pageChangeClass{
    padding: 2.5rem;
    padding-left: 1rem;
} */
.btnHeaderClass{
    display: inline-flex;
}

hr.dashed {
    border-top: 3px dashed #7348ea;
  }

  .projectCardsClass{
    display: inline-flex;
    flex-wrap: wrap;
  }

  .mobileContent{
    display: none;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(22, 21, 21, 0.35);
    max-width: 400px;
    margin: auto;
    text-align: center;
  }

  .subHeader {
    text-underline-position: under;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    animation-name: headerHighlight;
    animation-duration: 2s;
    animation-iteration-count: infinite;
 }

 @keyframes headerHighlight {
  0%   {text-decoration-color:blueviolet;}
  100% {text-decoration-color: orange;}
}

.movingProgressbar85Class{
  animation-name: changeProgress85;
  animation-duration: 6s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes changeProgress85{
  0% {
    width: 0%;
  }
  100% {
    width: 85%;
    transition: transform 150ms ease-in;
  }
}

.movingProgressbar90Class{
  animation-name: changeProgress90;
  animation-duration: 6s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes changeProgress90{
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
    transition: transform 150ms ease-in;
  }
}

.movingProgressbar80Class{
  animation-name: changeProgress80;
  animation-duration: 6s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes changeProgress80{
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
    transition: transform 150ms ease-in;
  }
}

.movingProgressbar70Class{
  animation-name: changeProgress70;
  animation-duration: 6s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes changeProgress70{
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
    transition: transform 150ms ease-in;
  }
}
  


  .title {
    color: #5e5858;
    font-size: 18px;
  }

  .descriptionPtag{
      font-size: 20px;
  }

  .aboutmePtag{
      font-size: 15px;
  }

  .skillsPaddingClass{
      padding-left: 1rem;
      padding-bottom: 0.5rem;
  }
/* Auto typing */
.descriptionssss h2 {
    color: #000000;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    /* Keeps the content on a single line */
    white-space: nowrap; 
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  

  /* @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  } */

  /* @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  } */

  .flip-card-inner {
    position: relative;
    width: 330px;
    height: 200px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(22, 21, 21, 0.35);
    z-index: -10 !important;
    background-color: #fff;
    border-color: blueviolet;
    border-style: double;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #f9f2f2;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: #f9f2f2;
    color: #000000;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
  }

  .desktopContent{
    display: inline-flex;
  }

  .customProBar{
    z-index: -10 !important;
  }

  .menuOpenClass{
    top: 0;
    display: flex;
  }

  .menuCloseClass{
    top:-100%;
  }





  nav {
    background: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

nav .mainMenu {
    display: flex;
    list-style: none;
    margin-top: 5px;
}

nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
}

nav .mainMenu li a:hover {
    background: rgb(255, 94, 0);
}

nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}

nav .mainMenu .closeMenu,
.icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .logo {
    margin: 6px;
    font-size: 25px;
    cursor: pointer;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbarClass{
  position: fixed;
  top: 0;
  width: 100%;
  height: 55px;
  margin-bottom: 50px;
}

.skillsLableClass{
  font-size: 17px;
  font-weight: 500;
  color: blueviolet;
}

.workexperienceIntro{
  font-size: 16px;
}

.contactlableClass{
  font-size: 16px;
}

.contactCenterClass{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width:1100px) {
  .subHeader{
    display: flex;
    justify-content: center;
  }

  .projectCardsClass{
    padding: 0 3rem 0 3rem;
  }

  .cardDesktopPadding{
    padding: 0 0 0 3rem;
    margin-bottom: 1rem;
  }

  .aboutmePtag{
    position: relative;
    font-size: 1.2rem;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-bottom: 2rem;
    /* line-height: 2.5rem; */
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    animation-name: aboutmeIntro;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }

  .workexperienceIntro{
    font-size: 1.3rem;
  }

  .skillsProfilecardDiv{
    width: 100%;
    justify-content: center;
  }

  .contactlableClass{
    font-size: 20px;
  }

  @keyframes aboutmeIntro {
    0%   {left:-1000px;}
    100% {left:0;}
  }
}

@media(max-width: 800px) {
  nav .mainMenu {
      height: 50vh;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 10;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #000;
      transition: top 1s ease;
      display: none;
      padding-right: 2rem;
  }

  nav .mainMenu .closeMenu {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;

  }

  nav .openMenu {
      display: block;
  }

  nav .mainMenu li a:hover {
      background: none;
      color: rgb(255, 123, 0);
      font-size: 1.6rem;
  }

  .icons i {
      display: inline-block;
      padding: 12px;
  }
}





  @media screen and (max-width: 500px) {
    .mobileContent{
      display: block;
    }

    .desktopContent{
      display: none;
    }

    .bodyClass{
        width:375px;
        background-color: #d2f6fe73;
        color: #000000;
        /* padding: 10px; */
    }

    .headerClass{
        width:375px;
        height: 3.3rem;
        background-color: #0089ab70;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pageTotal{
        visibility: hidden;
        display: none;
    }

    .description {
        width: 375px;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(22, 21, 21, 0.35);
        max-width: 300px;
        margin: auto;
        text-align: center;
      }

      .subHeader {
        text-underline-position: under;
        text-decoration: underline;
     }
      
     .subHeaderMobile{
       display: flex;
       justify-content: center;
     }
      .title {
        color: #5e5858;
        font-size: 18px;
      }

      .descriptionPtag{
          font-size: 20px;
      }

      .aboutmePtag{
          font-size: 16px;
      }

      .skillsPaddingClass{
          padding: 1rem;
      }

      .projectCardsClass{
        display: block;
      }

      .heading {
        display: flex;
        flex-direction: row;
        align-content: center;
        text-align: center;
        justify-content: center;
        margin-right: 0;
    }

    .logo h1{
      margin-left: 7rem;
    }
      
}